biopython==1.81
boto3==1.33.6
botocore==1.33.6
certifi==2023.11.17
charset-normalizer==3.3.2
exceptiongroup==1.2.0
filelock==3.13.1
idna==3.6
iniconfig==2.0.0
jmespath==1.0.1
joblib==1.3.2
lmdb==1.4.1
multimethod==1.10
numpy==1.26.2
packaging==23.2
Pillow==10.1.0
pip==23.3.1
pluggy==1.3.0
protobuf==4.25.1
pytest==7.4.3
python-dateutil==2.8.2
rdkit==2023.9.2
requests==2.31.0
s3transfer==0.8.2
scikit-learn==1.3.2
scipy==1.11.4
setuptools==68.0.0
six==1.16.0
tape-proteins==0.5
tensorboardX==2.6.2.2
threadpoolctl==3.2.0
tomli==2.0.1
tqdm==4.66.1
typing_extensions==4.8.0
urllib3==1.26.18
wheel==0.41.2
